<%- contentFor('body') %>



<div class="row">
  <div class="col s8">
    <div class="col s6">
        <h5>Mesa: <span id="span-table"></span></h5>
    </div>  
    <div class="col s6">
        <h5>Comanda: <span id="span-client"></span></h5>
    </div> 
    <div class="col s12">
        <h5>Pedidos:</h5>
        <table class="striped">
          <thead>
            <tr>
              <th>Pedido</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        
    </div>  
    <div class="col s8"><h5>Total:<span id="total"></span></h5></div>
    
    
  </div>

  <div class="fixed-action-btn">
    <button type="button" data-target="modaltables" class="btn-floating btn-large red modal-trigger" id="btnTable">
      <img src="images/icons/table.svg" class="responsive-img">
    </button> 
    <button type="button" data-target="modalclients" class="btn-floating btn-large red modal-trigger" id="btnClient" >
      <img src="images/icons/note.svg" class="responsive-img">
    </button> 
    <button type="button" data-target="modalmenus" class="btn-floating btn-large red modal-trigger" id="btnMenu" >
      <img src="images/icons/menu.svg" class="responsive-img">
    </button> 
  </div>


  <%- include modal-tables %>
  <%- include modal-clients %>
  <%- include modal-menus %>


</div>

  

<script src="socket.io/socket.io.js"></script>
<script type="module">
import QrScanner from './javascripts/qr-scanner.min.js';
QrScanner.WORKER_PATH='./javascripts/qr-scanner-worker.min.js';

const qrTables=document.getElementById('qr-tables');
const qrClients=document.getElementById('qr-clients');
const qrProducts=document.getElementById('qr-products');
const btnTable=document.getElementById('btnTable');
const btnClient=document.getElementById('btnClient');
const btnMenu=document.getElementById('btnMenu');
const options={opacity:0.5}

const resultClient=document.getElementById('result-client');
const resultTable=document.getElementById('result-table');
const resultProduct=document.getElementById('result-product');


window.onload=()=>{

  let elems = document.querySelectorAll('.modal');

  let instances = M.Modal.init(elems, options);

  let sideb=document.querySelectorAll('.sidenav');
  let newside=M.Sidenav.init(sideb,{edge:'left'})
  let myTable='';
  let myClient='';

    const socket=io('https://192.168.1.108:3000');

  //socket recive
  socket.on('outtable',data=>{
            const spanTable=document.getElementById('span-table');
           // alert(data);
             spanTable.innerHTML=`<p class="flow-text">${data}</p>`;
   
      });



  socket.on('outclient',data=>{
              const spanClient=document.getElementById('span-client');
           //   alert(data);
              spanClient.innerHTML=`<p class="flow-text">${data}</p>`;
    
    });
  socket.on('outproduct',data=>{

      const tBody=document.querySelector('tbody');
      const tr=document.createElement('tr');
      tr.innerHTML=`<td>${data.product}</td><td>${data.price}</td>`;
      tBody.appendChild(tr);
          
    });
  

      //const scanner = new QrScanner(video, result => console.log('decoded qr code:', result));
  btnTable.addEventListener('click',()=>{


    const scanner = new QrScanner(qrTables, result => {

      let data={
        db:'tables',
        code:result
      }
      myTable=result;  
     socket.emit('tables',data);
    
     resultTable.innerHTML=`<p class="flow-text">${result}</p>`;
    
     scanner.stop();
      
      });

     scanner.start();

   })

   btnClient.addEventListener('click',()=>{
    const scanner = new QrScanner(qrClients, result => {

    //  console.log(`clientes - ${result}`);
      myClient=result;
      let data={
        db:'clients',
        code:result
      }

     socket.emit('clients',data);
     resultClient.innerHTML=`<p class="flow-text">${result}</p>`;
        
     scanner.stop();
      
      });

     scanner.start();
   })

   btnMenu.addEventListener('click',()=>{
    const scanner = new QrScanner(qrProducts, result => {

   //   console.log(`product - ${result}`);
    //  myClient=result;

    console.log(result);
      let data=
      {
        db:'products',
        code:result,
        table:myTable,
        client:myClient
      }

     socket.emit('products',data);
     resultProduct.innerHTML=`<p class="flow-text">${result}</p>`;
     scanner.stop();
      
    });

     scanner.start();
   })
    
    
}


//document.addEventListener('DOMContentLoaded', function() {

   
    
   
    


 // });


//const mymodal=document.querySelector('#mymodal');

 //QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);

 

</script>
